server:
  port: 8080

spring:
  jpa:
    database: mysql
    generate-ddl: false
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true

  datasource:
    url: jdbc:mysql://localhost:3306/order_test?useSSL=false&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver